@import "./variables"; // Import the variables file

// CSS Reset
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

// Base Styles
body {
  font-family: sans-serif;
  font-size: 16px;
  color: #333;
}

// Example Usage
a {
  color: $primary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
