@import "../../variables"; // Import the variables file

.select-skip {
  background-color: $background-color;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
}
